*.suo
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/obj/Debug/CentiSoftMVCWebCourse3.pdb
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/obj/Debug/CentiSoftMVCWebCourse3.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/obj/Debug/CentiSoftMVCWebCourse3.csprojResolveAssemblyReference.cache
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/obj/Debug/CentiSoftMVCWebCourse3.csproj.FileListAbsolute.txt
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.WebPages.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.WebPages.Razor.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.WebPages.Deployment.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Razor.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Optimization.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Mvc.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Http.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Http.WebHost.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Web.Helpers.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/System.Net.Http.Formatting.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/VBCSCompiler.exe
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/vbc.exe
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/System.Reflection.Metadata.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/System.Collections.Immutable.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.VisualBasic.Core.targets
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.CSharp.Core.targets
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.CodeAnalysis.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/csc.exe
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Newtonsoft.Json.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.Twitter.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.OAuth.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.Google.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.Facebook.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Security.Cookies.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.Owin.Host.SystemWeb.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.AspNet.Identity.Owin.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Microsoft.AspNet.Identity.Core.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/EntityFramework.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/EntityFramework.SqlServer.xml
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/CentiSoftMVCWebCourse3.pdb
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/CentiSoftMVCWebCourse3.dll
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/Antlr3.Runtime.pdb
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/CentiSoftMVCWebCourse3.dll.config
/CentiSoftMVCWebCourse3/CentiSoftMVCWebCourse3/bin/roslyn/VBCSCompiler.exe.config
